*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: rgb(187, 15, 144); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


#headie{
    width: 100%;
    height: 60px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
}

#start{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#mid{
    /* border: 1px solid red; */
    width: 30em;
    display: flex;
    height: 60px;
    /* background-color: red; */
    justify-content: space-between;
    margin-right: 100px;
}

.mid{

    /* color: #1B74E4; */
    width: 100%;
    height: 100%;
    /* padding: 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid white;
    cursor: pointer;
}

#midHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;

    height: 50px;
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.midheader-icon{
    text-decoration: none;
    filter: brightness(2);
    filter: grayscale(0.9);
}

#midHeader:hover{
    background: #F0F2F5;
}


.mid-start{
    border-bottom: 3px solid #1B74E4;
}

#last{
    width: 12em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: purple; */
    margin-right: 10px;
}

#last-header, #last-header1, #last-header2{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #e3e5e9;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

#last-header:hover, #last-header1:hover{
    background: rgb(211, 211, 212);
}

#messenger-notification, #notification{
    position: absolute;
    background: #FA383E;
    height: 19px;
    width: min(20px, 40px);
    border-radius: 100%;
    bottom: 27px;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#messenger-notification span{
    font-size: 13px;
    font-weight: 600;
    color: white;
}

#notification{
    border: 2px solid white;
    height: 15px;
    width: 15px;
}

#icon-profile{
    border-radius: 100%;
}

.okay{
    justify-content: center;
    align-items: center;
}

.search, .search1, .search2{
    /* border: 2px solid green; */
    border-radius: 30px;
    width: 15em;
    height: 40px;
    background-color: #F0F2F5;
    /* padding-left: 10px; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
    /* position: relative; */

}
.search2{
    width: 90%;
    margin: 0 auto;
}

label{
    height: 1em;
    margin-left: 5px;
}

.bar, .bar1, .bar2{
    width: 30em;
    height: 100%;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    background-color: #F0F2F5;
    border: none;
}

.bar:focus{
    outline: none;
}

main{
    margin-top: 60px;
    width: 100%;
    display: flex;
    overflow: auto;
    height: calc(100vh - 60px);
    position: relative;
}

#new-message{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: white;
    /* border-bottom: 1px solid grey; */
    box-shadow: 0 1px 5px rgb(185, 183, 183);
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
#new-message:active{
    background: #F0F2F5;
}

.section1{
    /* border: 2px solid green; */
    border: none;
    background-color: #F0F2F5;
    width: 25%;
    height: calc(100vh - 60px);
    font-size: 15px;
    /* color: #050505; */
    font-weight: 400;
    padding-left: 5px;
    overflow: auto;
}

.section{
    padding-top: 20px;
}
/**********************************scrollbar**************************************************/

.scrollbar1::-webkit-scrollbar{
    width: 5px;
    transition: 3ms ease;
}

.scrollbar1:hover::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(161, 156, 156, 0.3);
    border-radius:5px;
}

.scrollbar1:hover::-webkit-scrollbar-thumb{
    border-radius:5px;
    -webkit-box-shadow: inset 0 0 6px grey;
}

.scrollbar2, .scrollbar3{
    overflow: auto;
}

.scrollbar2::-webkit-scrollbar, .scrollbar3::-webkit-scrollbar{
    display: none;
}
/****************************************scrollbar end**********************************************/
.section1-footer{
    width: 100%;
    height: 50px;
    padding-left: 5px;
}

.section1-footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1px;
    margin-top: 7px;
}

.section1-footer ul li, .section1-footer ul li a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13px;
    color: #65676B;
}

.section1-footer ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
}

#ads{
    filter: contrast(0);
    margin-left: 2px;
}

.section1-footer ul li span{
    margin: 0 5px;
    color: #65676B;
}

.section2{
    /* border: 2px solid rgb(128, 0, 53); */
    background-color: #F0F2F5;
    width: 50%;
}

.section3{
    /* border: 2px solid rgb(24, 9, 165); */
    padding-right: 10px;
    background-color: #F0F2F5;
    width: 25%;
}

/* .section{
    background: #ecedee;
} */

#first li, #more_list li, .joint-list{
    /* border: 2px solid black; */
    padding-left: 5px;
    border-radius: 5px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 5px;
    height: 50px;
    /* background: green; */
}

.joint-list{
    margin-left: 0;
}

#closeup{
    /* border: 2px solid black; */
    border-radius: 100%;
    background: #e1e3e6;
}

#first li img, #more_list li img, .joint-list img{
    margin-right: 10px;
}

#first li span, #more_list li span, .joint-list span{
    color: #050505;
    font-weight: 600;
}

#first li:hover, #more_list li:hover, .joint-list:hover{
    background: #dddddd;
    cursor: pointer;
    /* border-left: 2px solid green; */
}

#container1, #people{
    background: white;
    width: 500px;
    border: 1px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.top, .top-people{
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    justify-content: center;
    border-bottom: 1px solid #cccdce;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#cover, #cover-reel{
    border: 3px solid white;
    padding: 3px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 3px solid white;
}

.reel:hover, .story:hover{
    background: #F0F2F5;
}

#cover{
    border-bottom: 3px solid #1B74E4;
}

.reel, .story{
    /* border: 2px dotted green; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.story span{
    font-weight: 600;
    color: #1B74E4;
    margin-left: 10px;
}

.reel span{
    font-weight: 600;
    color: grey;
    margin-left: 10px;
}

#cards, #cards-people{
    overflow-x: auto;
    /* max-width: 500px; */
    height: 232px;
    display: flex;
    align-items: center;
}

.card{
    border-radius: 10px;
    /* border: 2px dotted green; */
    min-width: 112.5px;
    margin: 0 5px;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 15px 10px; */
    position: relative;
    cursor: pointer;
}

.profileIcon{
    /* background-image: url(img/avatar.jpg); */
    background-size: cover;
    border: 4px solid #1B74E4;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    left: 15px;
    top: 10px;
}
.profImage{
    background-image: url(img/proxima.webp);
}
.profImage1{
    background-image: url(img/cull.jpg);
}
.profImage2{
    background-image: url(img/ebony.jfif);
}

.profName{
    position: absolute;
    bottom: 10px;
    left: 7px;
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.profName i{
    filter: invert(1);
    margin-right: 5px;
}

.card1{
    border: 1px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    position: relative;
    padding: 0;
    margin-left: 20px;
}
.card-last{
    margin-right: 20px;
}

.overlay{
    height: 200px;
    min-width: 112.5px;
    position: absolute;
    border-radius: 10px;
}


#profilePic{
    height: 75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    transition: transform 0.4s ease;
    transform-origin: 50% 50%;
}

.card1:hover #profilePic{
    transform: scale(1.05);
    height: 75%;
}

.card1:hover .overlay{
    background: rgb(121, 117, 117, 0.3);
}
#addStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 3px solid white;
    border-radius: 100%;
    position: absolute;
    left: 32%;
    top: 65%;
    background: #1B74E4;
}

#profileName{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    color: black;
    font-weight: 600;
    font-size: 1rem;

}
#titleStatus, #titleStatus1{
    position: relative;
    height: 200px;
    width: 112.5px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.4s ease;
    transform-origin: 50% 50%;
}

.othercards:hover #titleStatus{
    transform: scale(1.05);
    height: 100%;
    /* background: rgb(121, 117, 117, 0.5); */
}

.othercards:hover .overlay{
    background: rgb(121, 117, 117, 0.3);

}

#cards::-webkit-scrollbar, #cards-people::-webkit-scrollbar{
    display: none;
}


#container2{
    width: 500px;
    height: 123px;
    border: 1px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    border-radius: 10px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

#status{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#mindPic{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}

#mind{
    /* border: 2px solid yellow; */
    width: 90%;
    height: 60%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background: #ecedee;
    cursor: pointer;
}
#mind:hover{
    background: #dddddd;
}

#mind span{
    font-size: 18px;
    font-weight: 400;
    color: rgb(100, 98, 98);
}

#options{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    width: 95%;
    height: 90%;
    cursor: pointer;
}

.opt{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    margin: auto 0;
    border-radius: 10px;
    /* padding: 10px; */
}

.opt img{
    margin-right: 10px;
}

.opt span{
    font-weight: 600;
    color: #65676B;
}
.opt:hover{
    background: #dddddd;
}

hr{
    width: 95%;
    border: 1px solid #dddddd;
}

#slideLeft, #slideRight, .slideLeft, .slideRight{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    border: none;
    background: hsla(0, 1%, 39%, 0.1);
    cursor: pointer;
}

#slideLeft:hover, #slideRight:hover, .slideLeft:hover, .slideRight:hover{
    border: 1px solid #e9eaec;
    backdrop-filter: blur(5px);
}

#slideLeft:active, #slideRight:active, .slideLeft:active, .slideRight:active{
    border: none;
}

#slideRight{
    left: 88%;
    bottom: 88px;
}

#slideLeft{
    left: 2%;
    bottom: 88px;
}

#container3, .memcontainer, .memory{
    width: 500px;
    margin: 15px auto;
    border: 1px solid #dddddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

#topDetails{
    /* border: 2px solid black; */
    width: 100%;
    /* height: 50px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


#postDetails{
    /* border: 1px solid red; */
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: start;
    /* padding: 10px; */
}

#top-postmenu{
    display: flex;
    /* border: 1px solid yellow; */
    width: 20%;
}

.postprof{
    /* width: 30%; */
    border-radius: 100%;
    /* border: 1px solid green; */
}

#top-postmenu{
    display: flex;
    align-items: center;
    justify-content: end;
}

#three-dots, #cancel, #cancel-offline1{
    width: 30px;
    height: 30px;
    /* border: 1px solid lime; */
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#cancel-offline{
    background: rgb(68, 67, 67);
    width: 25px;
    height: 25px;
    /* border: 1px solid lime; */
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#cancel-offline:hover{
    background: rgb(151, 151, 151);
}
#three-dots:hover, #cancel:hover, #cancel-offline1:hover{
    background: #F0F2F5;
}

.i-icon{
    filter: opacity(0.5);
}

#timestamp{
    margin-left: 10px;
}
#timestamp p{
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

#timestamp p:hover{
    text-decoration: underline;
}

#datestamp{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#datestamp p{
    font-size: 13px;
    font-weight: 400;
    color: #646262;
    cursor: pointer;

}
#datestamp p:hover{
    text-decoration: underline;
}
#post-text{
    /* border: 1px solid green; */
    width: 100%;
    margin-bottom: 10px;
}

#post-text p{
    padding: 0 10px;
    text-align: start;
    font-size: 15px;
    font-weight: 400;
    color: #1c1e21;
}

#reactions{
    width: 90%;
    /* margin: 10px; */
    border-bottom: 1px solid #cdcecf;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left, .right{
    display: flex;
    align-items: center;
    width: 65px;
    justify-content: space-between;
    /* border: 1px solid brown; */
    cursor: pointer;
}

#likeandlove{
    display: flex;
    /* border: 1px solid green; */
    width: 40px;
    height: 100%;
    justify-content: start;
    position: relative;
}

.like{
    border-radius: 100%;
    z-index: 1;
}

.love{
    position: absolute;
    left: 15px;
}

.right{
    width: 120px;
}

.comment, .share{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 52px;
    /* border: 1px solid lime; */
}

.react{
    filter: opacity(0.5);
}

.comment span, .share span, .left span{
    font-size: 15px;
    font-weight: 400;
    color: #65676B;
    /* text-decoration: underline; */
}

.comment span:hover, .share span:hover, .left span:hover{
    text-decoration: underline;
}

.lower-option{
    /* border: 2px solid black; */
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #cdcecf;
    margin-bottom: 5px;
}
.lower-option1{
    border-bottom: none;
}

.lower-opt{
    /* border: 2px solid green; */
    width: 33%;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.lower-opt i{
    filter: opacity(0.6);
}

.lower-opt span{
    margin-left: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #65676B;
}

.lower-opt:hover{
    background: #F0F2F5;
}

.comment-area{
    /* border: 1px solid red; */
    width: 90%;
    align-items: center;
}
.self-comment, .input-comment, .media-files{
    display: flex;
}
.self-comment{
    justify-content: space-between;
    /* border: 1px solid green; */
}
.input-comment{
    /* border: 1px solid green; */
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background: #F0F2F5;
}
.media-files{
    width: 35%;
    justify-content: space-evenly;
}
.write-comment{
    padding-left: 10px;
    color: grey;
}
.media{
    /* border: 1px solid yellow; */
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* background: red; */
}
.media:hover{
    background: rgb(230, 229, 229);
}
.press{
    margin-left: 50px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    cursor: default;
}
.sticker{
    filter: opacity(0.6);
}




#pagesnprofile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-bottom: 5px;
}

#title{
    font-size: 16px;
    font-weight: 600;
    color: rgb(5, 5, 5);
    margin-left: 5px;
}

#three-dots1{
    width: 30px;
    height: 30px;
    /* border: 1px solid lime; */
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.notification{
    /* border: 2px solid black; */
    margin-left: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.notification i{
    filter: opacity(0.6);
    margin: 0 10px;
}

.notification span{
    font-size: 14px;
    font-weight: 600;
    color: #757171;
}

#request{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

#see-all{
    /* border: 1px solid red; */
    width: 30%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#see-all p{
    color: #1B74E4;
    font-weight: 600;
}

#friend-request{
    display: flex;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.offchat{
    opacity: 0.6;
}

.others{
    margin-left: 10px;
    width: 70%;
}

.friend-details, .mutual, .confirmation, .mutual div, .confirm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid darkorange; */
    margin-bottom: 5px;
}

.mutual{
    justify-content: start;
}

.mutual div{
    /* display: flex; */
    position: relative;
}

.mimg{
    position: relative;
    /* float: right; */
    /* left: 12px; */
}

.mimg1{
    position: absolute;
    left: 12px;
}

.mutual span{
    margin-left: 15px;
    font-size: 12px;
    font-weight: 400;
    color: #505357;
}

.friend-details p, .birthday p{
    font-size: 14px;
    font-weight: 600;
}

.friend-details span{
    margin-left: 135px;
    font-size: 12px;
    color: #1B74E4;
}

.confirm{
    justify-content: center;
    /* border: 1px solid green; */
    width: 49%;
    height: 35px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
}

.confirm1{
    background: #1B74E4;
    color: white;
}

.confirm1:hover{
    background: #5b94da;
}
.confirm1:active{
    background: white;
    color: #1B74E4;
}

.confirm2{
    background: #c2c5c7;
}

.confirm2:hover{
    background: #c7c9ca;
}
.confirm2:active{
    background: black;
    color: #c2c5c7;
}

h4{
    font-size: 16px;
    font-weight: 600;
    color: rgb(5, 5, 5);
    margin-bottom: 10px;
    margin-left: 5px;
}

.birthday{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    border-radius: 5px;
    padding: 5px;
    /* margin-top: 10px; */
    cursor: pointer;
}

.birthday p{
    margin-left: 10px;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-top: 10px;
}

.contacts{
    width: 40%;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    /* border: 1px green solid; */
    border-radius: 100%;
    cursor: pointer;
}

.status{
    border: 2px solid white;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: rgb(49, 162, 76);
    position: absolute;
    left: 17px;
    top: 17px;
}

.chats{
   display: flex;
   align-items: center;
   /* position: relative; */
   /* background: red; */
   height: 40px;
   border-radius: 7px;
   padding: 5px;
   cursor: pointer;
}

.chat-img{
    /* border: 2px solid yellow; */
    height: 30px;
    position: relative;
}

.chats span, .new-group span{
    font-size: 14px;
    font-weight: 600;
    color: rgb(5, 5, 5);
    margin-left: 10px;
}

.chat-list{
    /* border: 1px solid red; */
    margin-bottom: 20px;
}

#three-dots1:hover, .notification:hover, #see-all:hover, #friend-request:hover, .birthday:hover, .contact-icons:hover, .chats:hover, .new-group:hover{
    background: #e5e6e7;
}

.new-group{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    height: 45px;
    border-radius: 7px;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.group-icon{
    /* border: 1px solid green; */
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cecdcd;
}

#warning_div{
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100vh;
    /* color: #050505; */
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
    z-index: 10;
}
.warning_overlay{
    width: 100%;
    height: 100vh;
    position: relative;
}

.warning{
    position: absolute;
    /* border: 2px solid red; */
    /* width: 600px; */
    /* height: 350px; */
    width: 100%;
    height: 100vh;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warning img{
    width: 50%;
    border-radius: 10px;
}

.close-warning{
    border: 5px solid black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    /* margin: 0 auto; */
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


#offline{
    width: 320px;
    height: 70px;
    padding: 10px;
    /* background: white; */
    background: #1f2023;
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 10px;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 5px rgb(185, 183, 183);
    z-index: 2;
}

#offline p, #offline span, .message-top1 span{
    font-size: 16px;
    font-weight: 400;
}

#offline p{
    color: white;
}

#offline span{
    color: #1B74E4;
    cursor: pointer;
}

#offline span:hover{
    text-decoration: underline;
}

#cancel-offline img{
    filter: invert(1);
}

.hashtag{
    color: #1B74E4;
}

.hashtag:hover{
    cursor: pointer;
    text-decoration: underline;
}

#message{
    position: absolute;
    box-shadow: 0 1px 5px rgb(185, 183, 183);
    width: 325px;
    height: 450px;
    background: white;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    bottom: 0;
    right: 85px;
    z-index: 1;
}

.message-top{
    border-bottom: 1px solid rgb(218, 212, 212);
    padding: 5px 10px;
}

.message-top1, .message-top2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-top2{
    padding: 15px 0;
}

.message-top2 input{
    font-size: 16px;
    margin-right: 80px;
    border: none;
}

.message-top2 input:focus{
    margin-right: 0;
    margin-left: 20px;
    width: 100%;
    outline: none;
}

#container4{
    background: white;
    border: 1px solid #dddddd;
    border-radius: 10px;
    width: 500px;
    height: 260px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container4-top{
    /* border: 2px solid rgb(46, 14, 161); */
    height: 70px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.circular{
    /* border: 2px solid red; */
    background: #f3f4f5;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 10px;
}
.nil-bar{
    /* border: 2px solid yellow; */
    height: 35px;
    width: 100px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.t1{
    background: #f3f4f5;
    height: 10px;
    width: 90%;
    border-radius: 5px;

}
.t2{
    background: #f3f4f5;
    height: 10px;
    border-radius: 5px;
}

.container4-bottom{
    /* border: 2px solid green; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.t3{
    background: #f3f4f5;
    width: 70px;
    height: 10px;
}
.memory{
    width: 500px;
    border: 1px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    margin: 0 auto;
}
.memcontainer{
    width: 90%;
    margin-top: 0;
}
.memthing{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #dddddd;
}
.memthing1{
    text-align: center;
    font-weight: 600;
}
.seemoremem:hover{
    cursor: pointer;
    text-decoration: underline;
}
.heading{
    /* border: 1px solid green; */
    font-size: 15px;
}
.memhead{
    /* border: 1px solid red; */
    margin-left: 5px;
    width: fit-content;
}

.mem-picture{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mem-date{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}
.mem-date p, .mem-date span{
    font-size: 13px;
    font-weight: 400;
    color: #646262;
    cursor: pointer;
    margin-right: 5px;
}
.mem-date p:hover{
    text-decoration: underline;
}

strong{
    cursor: pointer;
}
strong:hover{
    text-decoration: underline;
}