.top-people{
    height: 45px;
    border-bottom: none;
    /* border: 2px solid green; */
    justify-content: space-between;
    padding: 10px;
}

.top-people p{
    font-size: 18px;
    font-weight: 600;
}

#cards-people{
    /* min-width: 100%; */
    height: 350px;
    /* border: 2px solid #1B74E4; */
    /* padding-bottom: 20px; */

}
.poster{
    /* border: 2px solid yellow; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 70%;

}
.poster img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.avatar{
    border: 1px solid #dddddd;
    border-radius: 10px;
    min-width: 200px;
    height: 320px;
    margin-right: 10px;
    /* height: 90%; */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    position: relative;
}
.avatar img{
    object-fit: contain;
    cursor: pointer;
}

.add-friend{
    /* border: 2px solid purple; */
    height: 30%;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-friend p{
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    /* border: 1px solid red; */
}

.add-friend p:hover{
    text-decoration: underline;
}

.add-button{
    /* border: 1px solid orangered; */
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E7F3FF;
    cursor: pointer;
}
.add-button span{
    font-size: 17px;
    font-weight: 600;
    color: #1B74E4;
    margin-left: 10px;
}

.add-button:hover{
    background: #d2e4f7;
}

.avatar1{
    margin-left: 20px;
}
.avatar2{
    margin-right: 20px;
}

.slideRight{
    left: 88%;
    /* bottom: 88px; */
}

.slideLeft{
    left: 2%;
    /* bottom: 88px; */
}

#cancel-friend{
    background: rgb(109, 108, 108);
    filter: opacity(0.7);
    width: 35px;
    height: 35px;
    /* border: 1px solid lime; */
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

#cancel-friend:hover{
    background: rgb(151, 151, 151);
}

#story-stuff, #reel-stuff{
    display: flex;
}

.see-all{
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;

    padding-bottom: 10px;
    color: #1B74E4;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    /* border: 1px solid red; */
}

.see-all:hover{
    text-decoration: underline;
}

.arrow{
    /* border: 1px solid red; */
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8a87872f;
}

.arrow-name{
    text-align: center;
    font-weight: 600;
}

.card-last1{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#profile-menu{
    position: absolute;
    right: 10px;
    top: 55px;
    z-index: 1;
    border-radius: 10px;
    width: 360px;
    background: white;
    box-shadow: 0 1px 10px rgb(185, 183, 183);
}

.profile-plate{
    border: 1px solid rgb(250, 250, 250);
    border-radius: 10px;
    width: 90%;
    height: 120px;
    margin: 10px auto 20px auto;
    box-shadow: 0 1px 10px rgb(185, 183, 183);
}

.see-profile{
    border-radius: 10px;
    height: 40px;
    margin: 3px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.see-profile span{
    font-size: 16px;
    font-weight: 600;
    color: #1B74E4;
}

.main-profile{
    border-radius: 10px;
    height: 60px;
    margin: 3px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.main-profile span{
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
}
.profile-line{
    width: 90%;
    margin: 0 auto;
    /* background: red; */
}

.menu-list{
    border-radius: 10px;
    width: 95%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    cursor: pointer;
}
.menu-list:hover, .main-profile:hover, .see-profile:hover{
    background: #f3f3f3;
}

.icon-capsule{
    background: #dddddd;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    display: flex;
    align-items: center;
}

.wrapper span{
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

.menu-footer{
    width: 90%;
    margin-left: 20px;
    padding-left: 0;
    padding-bottom: 0;
}

#main-menu{
    position: absolute;
    right: 10px;
    top: 55px;
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 10px rgb(185, 183, 183);
    z-index: 1;
    /* overflow-y: hidden; */
}

.upper-shell{
    /* border: 1px solid blue; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    background: #F0F2F5;
}

.upper-shell span{
    font-size: 24px;
    font-weight: 700;
    margin: 20px;
}

.inner-shell{
    background: #F0F2F5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    overflow-y: auto;
    position: relative;
}

.inner-shell::-webkit-scrollbar{
    width: 8px;
    transition: 3ms ease;
}



.inner-shell::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgb(160, 160, 160);
    /* -webkit-box-shadow: inset 0 0 6px grey; */
}

.fixed-div{
    background: white;
    /* border: 1px solid orange; */
    width: 225px;
    height: 500px;
    border-radius: 10px;
    position: fixed;
    right: 27px;
    box-shadow: 0 1px 10px rgb(185, 183, 183);
}

.scrollable-div{
    width: 320px;
    height: fit-content;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    margin-right: 230px;
    margin-bottom: 20px;
    box-shadow: 0 1px 10px rgb(185, 183, 183);
    padding-bottom: 20px;
}

.drop-menu{
    width: 95%;
    margin: 0 auto;
    /* height: 100px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    /* border: 1px solid red; */
    border-radius: 10px;
    /* padding: 0 10px; */
    cursor: pointer;
}

.drop-menu:hover{
    background: #F0F2F5;
}

.menu-image{
    width: 50px;
    height: 50px;
    /* border: 1px solid blue; */
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-summary{
    display: flex;
    flex-direction: column;
    width: 80%;
    /* align-items: center; */
    /* justify-content: start; */
}

.stories{
    /* border: 1px solid yellow; */
    font-size: 16px;
    font-weight: 500;
}
.story-details{
    /* border: 1px solid green; */
    font-size: 13px;
    color: #65676B;
}

.search1{
    /* border: 1px solid brown; */
    width: 90%;
    height: 35px;
    margin: 15px auto;
}

/* .bar1{
    height: 35px;
    border: 1px solid black;
} */

.sub-title{
    margin-left: 15px;
    font-size: 17px;
    color: #050505;
}

.menuLine{
    width: 90%;
    margin: 20px auto;
    height: 1px;
    border: none;
    background: #bbbaba;
}

.fixed-list{
    /* border: 1px solid red; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
}
.fixed-list:hover{
    background: #F0F2F5;
}
.list-icon-div{
    /* border: 1px solid green; */
    background: #dcdcdd;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px 0 5px;
}
.listLine{
    margin: 10px auto;
    width: 85%;
    height: 1px;
    border: none;
    background: #bbbaba;
}
.create-title{
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0px 20px 15px;
}
.mini-title{
    font-weight: 500;
    padding-right: 20px;
}

#messenger{
    position: absolute;
    width: 360px;
    height: 600px;
    /* border: 1px solid red; */
    right: 10px;
    top: 55px;
    z-index: 1;
    border-radius: 10px;
    background: white;
    box-shadow: 0 1px 10px rgb(185, 183, 183);
    display: flex;
    flex-direction: column;
}
.chats-div{
    /* border: 1px solids red; */
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chats-title{
    font-size: 24px;
    font-weight: 700;
}
/* .bar2{
    border: 1px solid black;
    width: 90%;
} */
.logos{
    display: flex;
    /* border: 1px solid green; */
    width: 50%;
    justify-content: space-evenly;
}
.logo{
    /* border: 1px solid black; */
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo i{
    filter: opacity(0.6);
}
.logo:hover{
    background: #F0F2F5;
}
.another-head{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    width: 90%;
    height: 50px;
    margin: 0 auto;
}
.inbox, .community{
    /* border: 1pxs solid black; */
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.inbox{
    width: 70px;
    margin-right: 10px;
    background: #d2e4f7;
    color: #1B74E4;
}
.community{
    width: 120px;
}
.community:hover{
    background: #F0F2F5;
}
.postDetails{
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.postDetails:hover{
    background: #F0F2F5;
}
.timestamp{
    width: 70%;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
}
.datestamp{
    /* border: 1px solid green; */
    display: flex;
    font-size: 12px;
}
.datestamp span{
    margin: 0 2px;
}
.chatter{
    font-size: 17px;
    font-weight: 400;
}
.chat-container{
    border-bottom: 1px solid rgb(211, 211, 211);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 92%;
    overflow-y: scroll;
}
.bottom-chat{
    /* border: 1px solid black; */
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1B74E4;
    font-size: 17px;
    font-weight: 600;
}
.bottom-chat p:hover{
    text-decoration: underline;
    cursor: pointer;
}

#notification1{
    position: absolute;
    width: 360px;
    height: 600px;
    overflow-y: scroll;
    right: 10px;
    top: 55px;
    z-index: 1;
    border-radius: 10px;
    background: white;
    box-shadow: 0 1px 10px rgb(185, 183, 183);
}
#notification1::-webkit-scrollbar{
    width: 5px;
    transition: 3ms ease;
}
#notification1:hover::-webkit-scrollbar-thumb{
    border-radius:5px;
    -webkit-box-shadow: inset 0 0 6px grey;
}

.another-head1{
    /* border: 1px solid red; */
    height: 40px;
    margin-top: -5px;
}
.all{
    width: 45px;
    height: 35px;
}
.unread{
    width: 90px;
}
.new1{
    width: 90%;
    margin: 0 auto;
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-between;
}
.newn{
    font-size: 17px;
    font-weight: 600;
}
.seeall{
    /* border: 1px solid green; */
    font-size: 16px;
    color: #1B74E4;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.seeall:hover{
    background: #F0F2F5;
}
.postDetails1{
    /* border: 1px solid green; */
    height: auto;
    align-items: start;
    padding: 7px 0;
    /* align-items: start; */
}
.timestamp1{
    /* border: 1px solid red; */
    padding-right: 10px;
    height: auto;
    font-size: 16px;
}
.chatter1{
    font-size: 16px;
    font-weight: 500;
}
.timeline{
    font-size: 14px;
    color: #1B74E4;
    font-weight: 500;
}
.big-dot{
    /* border: 1px solid #1B74E4; */
    margin: auto 0;
    background: #1B74E4;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.postprof1{
    margin-right: 5px;
}

.hater-comment{
    /* border: 1px solid red; */
    display: flex;
}
.the-hater{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.comment-cover{
    display: flex;
    flex-direction: column;
}
.his-comment{
    /* border: 1px solid blue; */
    width: fit-content;
    background: #F0F2F5;
    height: fit-content;
    border-radius: 15px;
    padding: 5px 10px;
}
.vertical{
    border: 1px solid #e7e7e7;
    width: 0;
    height: 48px;
}
.comment-attributes{
    width: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 600;
    color: gray;
}
.comment-attributes p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.comment-date{
    font-weight: 400;
}
.reply-cover{
    /* border: 1px solid black; */
    display: flex;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    /* justify-content: space-evenly; */
}
.from-vert{
    position: absolute;
    margin-left: 14px;
    top: -10px;
    border: 2px solid #e7e7e7;
    width: 25px;
    height: 30px;
    border-bottom-left-radius: 10px;
    border-top: none;
    border-right: none;
}
.hater-comment1{
    margin-left: 50px;
}
.more-replies{
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 50px;
    font-size: 16px;
    font-weight: 500;
    color: gray;
    cursor: pointer;
}
.more-replies p{
    margin-left: 5px;
}
.replier{
    margin-left: 10px;
    margin-top: 5px;
}
.more-replies:hover, .more-comment:hover{
    text-decoration: underline;
}
.more-comment{
    min-width: 200px;
    font-weight: 500;
    color: gray;
    cursor: pointer;
    margin-bottom: 10px;
}
.from-vert1{
    top: -10px;
    height: 293px;
}
.lastvert{
    height: 315px;
}
.commenter{
    font-size: 14px;
    font-weight: 500;
    width: fit-content;
    cursor: pointer;
}
.commenter:hover{
    text-decoration: underline;
}
.the-comment{
    font-size: 15px;
    margin-top: -3px;
}
.reply-meme{
    margin-top: 20px;
    border-radius: 20px;
}
.self-comment1{
    /* border: 1px solid red; */
    width: 90%;
    margin-bottom: 10px;
}
.memory{
    margin-top: 15px;
}


@media only screen and (min-width:900px) and (max-width:1100px){
    .section1{
        display: none;
    }
    .section2{
        width: 70%;
    }
    .section3{
        width: 30%;
    }
    .search{
        /* border: 1px solid red; */
        width: 40px;
        height: 40px;
    }
    .bar{
        display: none;
    }
    #mid{
        margin-right: 0;
        width: 50%;
    }
    #first{
        width: 25%;
        margin-right: 0;
    }
    #last{
        width: 25%;
    }
    
    #container1, #container2, #container3, #container4, #people, .memory{
        width: 90%;
    }
}

@media only screen and (min-width:700px) and (max-width:900px){
    .section1{
        display: none;
    }
    .section3{
        display: none;
    }
    .search{
        /* border: 1px solid red; */
        width: 40px;
        height: 40px;
    }
    .bar{
        display: none;
    }
    #mid{
        margin-right: 0;
        width: 50%;
    }
    .section2{
        width: 100%;
    }
    #container1, #container2, #container3, #container4, #people, .memory{
        width: 90%;
    }
    #slideLeft, #slideRight, .slideLeft, .slideRight{
        display: none;
    }
}

@media only screen and (min-width:430px) and (max-width:700px){
    .section1{
        display: none;
    }
    .section3{
        display: none;
    }
    .section2{
        width: 100%;
    }
    #container1, #container2, #container3, #container4, #people, .memory{
        width: 95%;
    }
    .search{
        /* border: 1px solid red; */
        width: 40px;
        height: 40px;
    }
    .bar{
        display: none;
    }
    #mid{
        display: none;
    }
    #options{
        width: 100%;
    }
    #main-menu{
        width: 100%;
    }
    .scrollable-div{
        width: 50%;
        margin-right: 40%;
    }
    .fixed-div{
        width: 40%;
    }
    #slideLeft, #slideRight, .slideLeft, .slideRight{
        display: none;
    }
    
}

@media only screen and (max-width:430px){
    .section1{
        display: none;
    }
    .section3{
        display: none;
    }
    .section2{
        width: 100%;
    }
    #container1, #container2, #container3, #container4, #people, .memory{
        width: 95%;
    }
    .search{
        /* border: 1px solid red; */
        width: 40px;
        height: 40px;
    }
    .bar{
        display: none;
    }
    #mid{
        display: none;
    }
    #mind span{
        font-size: 0.8rem;
    }
    #options{
        width: 100%;
    }
    .opt span{
        display: none;
    }
    #last-header{
        display: none;
    }
    .lower-opt span{
        display: none;
    }
    .self-comment{
        width: 100%;
    }
    .media-files{
        display: none;
    }
    #notification1, #messenger, #profile-menu{
        width: 90%;
    }
    #last{
        width: 50%;
    }
    #message{
        width: 80%;
    }
    #slideLeft, #slideRight, .slideLeft, .slideRight{
        display: none;
    }
}
@media only screen and (max-width:350px){
    #offline{
        width: 90%;
        left: 5%;
        right: 5%;
    }

    .hater-comment1{
        margin-left: 0px;
    }
    .vertical, .from-vert, .from-vert1, .lastvert{
        display: none;
    }
    .more-replies{
        margin-left: 0;
    }
    #message{
        width: 80%;
    }
    #slideLeft, #slideRight, .slideLeft, .slideRight{
        display: none;
    }
}
.bdayh{
    margin-top: 10px;
}
#skadoosh{
    position: absolute;
    right: 30px;
    top: 60px;
}

#skadoosh img{
    width: 300px;
    height: 200px;
}